<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <property resource="application.properties"/>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <!-- Writes object values from logging context as actual JSON (not escaped) -->
      <mdcEntryWriter class="no.liflig.logging.LoggingContextJsonFieldWriter"/>
    </encoder>

    <file>log.jsonl</file> <!-- jsonl extension since it's newline-delimited JSON (https://jsonlines.org/) -->
    <append>false</append>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <!--
        %replace( [%kvp{NONE}]){' \[]', ''} and %replace( [%mdc]){' \[]', ''} below adds log fields
        (and logging context fields) in square brackets, but hides the brackets if they're empty.
      -->
      <!-- @formatter:off -->
      <pattern>
        %white([%d{HH:mm:ss}]) %highlight(%level) %cyan(%logger{36}){}%white(:) %msg%replace( [%kvp{NONE}]){' \[]', ''}%replace( [%mdc]){' \[]', ''}%n
      </pattern>
      <!-- @formatter:on -->
    </encoder>
  </appender>

  <logger name="org.eclipse.jetty" level="WARN"/>
  <!-- Enables debug logs for loggers that share the service's base package name -->
  <logger name="${service.package.prefix}" level="DEBUG"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="FILE"/>
  </root>
</configuration>
