<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <property resource="application.properties"/>
  <property file="config_override/application.properties"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
    </encoder>
  </appender>

  <logger name="org.eclipse.jetty" level="WARN"/>
  <logger name="${log.application.name}" level="${log.application.level}"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
