<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <property resource="application.properties"/>
  <property file="overrides.properties"/>
  <!--
  Note! This file is used when run in the container and will
  override the default logback.xml.
  -->

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
  </appender>

  <logger name="org.eclipse.jetty" level="WARN"/>
  <logger name="no.liflig" level="DEBUG"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
